/* Basic styles for the Django app */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(252, 94, 225, 0.822);
    color: #d8fa41;
}

header {
    background-color: #69ffe6;
    color: rgb(120, 166, 211);
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #E033;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.logo{
    width: 100px;
    height: auto;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 0 4px 0; 
    border: 4px solid #2324;
    box-shadow: 3px 0px 8px rgba(121, 42, 23, 0.7);
}
#file-viewer-wrapper {
    position: relative;
    background-color: #525659; /* Matches common PDF viewer backgrounds */
}

.book-item {
    margin-bottom: 10px;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 5px;
}
.chapters{
    margin-top: 20px;
    border: 4px double #7328;
    padding: 10px;
    background-color: #3283;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 8px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: rgb(117, 183, 238);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size : 0.8rem;
    background-color: rgb(255, 96, 17);
    border-radius: 5px;
    border: 3px solid #2494;
}

nav ul li a:hover {
    color: #2313;
    transform: scale(1.2);
}

