{% load static %}
<html>
    <head>
        <title>
            {% block title%}{%endblock%}
        </title>
        <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">
         {% block head %}{%endblock%}
    </head>
    <body>
        <header>
             <h2 class="logo">本の虫</h2> 
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}"> Home </a></li>
                        <li><a href="{% url 'books' %}">Books</a></li>
                    </ul>
                </nav>
                {% block header %}{%endblock%}
        </header>
        <section>
            <div class="block">
                {% block content %}{% endblock %}
                <card>
                    <h3>Book List</h3>
                    <ul>
                        {% for book in books %}
                            <li>{{ book.Book_title }} - Published: {{ book.published }}</li>
                        {% endfor %}
                    </ul>
                </card>

            </div>
        </section>
    </body>
    <footer>
        &copy; 2026 Bookworms. All rights reserved.
    </footer>
    <script src="{% static 'webapp/js/script.js' %}"></script>
</html>