{% extends 'webapp/base.html' %}
{% load static %}


{% block title%} 本好き {% endblock %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="book-list">
    {% for book in books %}
        <div class="book-item">
           
            <strong>{{ book.Book_title }}</strong>
            {% if book.manuscript %}
                <img src="{{ book.cover.url }}" alt="cover of the book">
                <nav>
                    <ul>
                        <li>
                <a href="{% url 'book_detail' book.id %}">Read Chapters</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
            <h1> {{ book.author }} </h1>
        </div>
    {% endfor %}
</div>

{% endblock %}

